.base {
    height: 220px;
    background-color: $color3;
    text-align: center;
    color: $color1;
    font-size: larger;
    font-weight: 700;
    display: flex;
    flex-direction: column;

    &__item {
        margin: 5px auto;

        &--btn {
            margin: auto;
            padding: auto;
            height: 45px;
            width:500px;
            font-size: 15px;
            font-weight: 500;
            border: 2px solid $color1;
            border-radius: 5px;
            background-color: $color1;
            color: $color7;



        }
    }
}