.protection {
    width: 100%;
    text-align: center;

    .title {
        font-family: 'Cairo';
        color: $color1;
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
    }

    .cards {
        width: 90%;
        margin: 20px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        &__card {
            width: 30%;
            margin-bottom: 85px;

            img {
                height: 100px;
            }

            &--title {
                color: $color1;
                font-size: 14px;
                font-weight: 700;
                ;
            }
        }
    }
}

.informations {
    width: 100%;
    height: 16rem;
    margin: 0 auto;
    background-color: $color3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;

    .text {
        width: 40%;
        margin: auto;
        text-align: center;
        margin: 0;

        h2 {
            color: $color1;
            font-size: 40px;
            margin-bottom: 30px;
        }

        p {
            color: #1A519E;
            font-size: 28px;
            font-size: larger;
            font-weight: 600;
            
        }

    }

    .button {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;



        &__butt {
            padding: 0;
            width: 255px;
            margin: auto;
            height: 4rem;
            border: 2px solid $color1;
            border-radius: 5px;
            background-color: $color1;
            color: $color7;
            font-weight: 700;
            font-size: large;

            a {
                text-decoration: none;
                color: white;

                &:visited {
                    color: white;
                }

                &:active {
                    color: $color2;
                }
            }
        }


    }
}